<!--<body>-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--  <div class="card">-->
<!--    <div class="upload-container">-->
<!--      <h1 class="heading">Upload Your Resume</h1>-->
<!--      <p class="description">Select your resume file</p>-->
<!--      <label for="photo-upload" class="custom-file-upload fas">-->
<!--        <input id="fileInput" type="file" (change)="onFileSelected($event)" #fileInput>-->
<!--        <span class="file-upload-text">Choose File</span>-->
<!--      </label>-->
<!--      <br>-->
<!--      <button class="submit-button">Submit</button>-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</body>-->

<!-- profile-upload.component.html -->
<!--<div class="card">-->
<!--  <h1>Profile Upload</h1>-->
<!--  <label for="photo-upload" class="custom-file-upload fas">-->
<!--    <div class="img-wrap">-->
<!--      <img src="https://cdn-icons-png.freepik.com/256/1209/1209920.png?semt=ais_hybrid" alt="Profile Image">-->
<!--    </div>-->
<!--  </label>-->
<!--  <input id="photo-upload" type="file" (change)="onFileSelected($event)" #fileInput>-->
<!--  <button class="submit-button">Submit</button>-->
<!--</div>-->


<!-- profile-upload.component.html -->
<body>
<div class="card">
  <h1>Upload your RESUME</h1>
  <label for= "pdf-upload" class="custom-file-upload fas">
    <div class="img-wrap">
      <img src="https://cdn-icons-png.freepik.com/256/1209/1209920.png?semt=ais_hybrid" alt="Profile Image">
    </div>
  </label>
  <input id="pdf-upload" type="file" (change)="onFileSelected($event)" #fileInput>
  <button class="submit-button">Submit</button>
</div>


</body>


