

.file-upload {
  text-align: center;
  max-width: 50%;
}

#pdf-upload {
  display: none;
}

.upload-icon {
  width: 50px;
  height: 50px;
}
.inline {
  display: inline-flex;
}
.pointer {
  cursor: pointer;
}

.dotted-border {
  border-style: dashed;
  border-width: medium;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-bg {
  background-color: rgba(179, 179, 255, 0.18);
  border-style: none;
}

